@media screen and (max-width: 760px){
    /* header */
    .back-icon{      
        width: 53px;
        height: 53px;
        left: 7px;
        top: 16px;
        background-color: transparent;
    }
    .header-texts{
        padding: 31px 0px 5px;
        font-size: 16px;
        font-weight: 700;
    }
    .short-line{
        display: none;
    }
    .laptop-features{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .page-counter{
        display: block;
        color: #898989;
        font-size: 14px;
    }
    .employee-info, .line{
        display: none;
    }
    /* photo */
    .upload-text{
        font-size: 16px; 
        line-height: 26px;    
        margin-top: 0; 
        margin-bottom: 12px;
    }
    .photo-icon{
        margin-bottom: 10px;
    }
    .desktop-upload-photo {
        display: none;
    }
    .responsive-upload-photo{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 181px;
    }
    #laptop-photo-img{
        height: 181px;
    }
    .upload-again-container{
        margin-top: 17px;
    }
    .upload-again{
        width: 200px;
        height: 50px;
        padding: 0px;
        background-color:#62A1EB;
        color: white;
        cursor: pointer;
        border-radius: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .photo-data-container{
        margin-left: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 12px;
    }
    .photo-data-container .photo-data {
        margin-left: 0px;
    }
    .photo-warning{
        width: 23px;
        height: 21px;
    }
    /* form */
    .form-container{
        padding: 30px 16px 45px;
    }
    .flex-container{
        display: block;
        margin: 30px 0px;
    }
    .div-container{
        margin-top: 25px;
    }
    .input{
        margin: 5px 0px;
    }
    .radios-container{
        margin-top: 22px;
        margin-bottom: 0px;
    }
    .memory-title{
        margin-top: 0px;
    }
    /* LOGO */
    .redberry-photo{  
        display: none;
    }
}